# NOTE:
# NOTE: This configuration file has been deployed by JET
# NOTE:
Protocol 2
Port 22
ListenAddress 0.0.0.0
AllowTcpForwarding yes
GatewayPorts no
X11Forwarding yes
X11DisplayOffset 10
X11UseLocalhost yes
Banner /etc/issue
PrintMotd yes
PrintLastLog yes
KeepAlive yes
SyslogFacility auth
LogLevel info
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_dsa_key
Ciphers aes128-cbc,aes128-ctr,arcfour,aes256-cbc
MACS    hmac-md5,hmac-sha1,hmac-sha1-96
ServerKeyBits 768
KeyRegenerationInterval 3600
StrictModes yes
LoginGraceTime 120
MaxAuthTries    3
MaxAuthTriesLog 3
PermitEmptyPasswords no
PasswordAuthentication no
PermitRootLogin no
Subsystem       sftp    /usr/lib/ssh/sftp-server
IgnoreRhosts yes
RhostsAuthentication no
RhostsRSAAuthentication no
PubkeyAuthentication yes
RSAAuthentication yes
